@model IEnumerable<BrewHounds.Models.Beer>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Beers";
}


    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
    
            @foreach (var item in Model) {
                <div class="col-md-3 beersDetail">

                   <img src="@Url.Content(item.Image)" />
                    
                    <h4>@Html.DisplayFor(modelItem => item.Name)</h4>

                    <p class="itemDesc">@Html.DisplayFor(modelItem => item.Description)</p>

                    <h4><strong>$@Html.DisplayFor(modelItem => item.Price)</strong></h4>

                    <p>@Html.ActionLink("View", "Details", new { id = item.Id }, new {@class= "btn btn-default"})</p>
            
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |

                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
               </div>
    }

<div class="clearfix visible-xs-block"></div>
    
    
